#header {
    height: 70px; 
    border-bottom: 1px solid #EDEDF5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 50px;    
}
.navbar {
    z-index: 2;
}
.title {
    padding-top: 10px;
    margin-top: 0px;
}
#intro {
    z-index: 1;
    text-align:center;
    color: white; 
    font-size: 2em!important;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    width: 100%;
    position: absolute;
    padding-top: 10%;
}
#avar {
    height: 250px!important;
    width: 250px!important;
    border-radius: 125px!important;
    margin: 10px 10px;
}
#skills {
    text-align: center; 
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique; 
    padding-top: 50px;
}
.chart {
    padding-top: 20px;
    margin: auto;
    height: 80%;
    width: 80%;
}
#proj {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding-top: 50px;
}
#proj img {
    height:250px; 
    width:250px;
    border-radius: 125px;
    margin-bottom: 10px;
    border: 2px solid white;
}
#address {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding-top: 50px;
}
#contact {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 20px; 
    text-align: center;
    color: white;
    background-image: url('./image/2.jpg');background-attachment: fixed;
    background-size: 100% 100%;
}
#footer {
    height: 70px; 
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 20px;  
    background-color: black;
    color: white;
}
.navbar-toggler {
    float: left;
}
.slide {
    z-index: 0; 
    padding-left: 0px; 
    padding-right: 0px;
}
#intro480 {
    display: none;
}
@media only screen and (max-width: 480px) {   
    .slide {
        display: none;
    }
    #intro480 {
        
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 15px;  
        display: block;
    }
    #avar {
        border: 1px solid black;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        margin: 10px 10px;
    }
}
@media only screen and (max-width: 1024px) {   
    .slide {
 
    }
    #intro {
      
    }
    #avar {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: 10px 10px;
    }
    .navbar-toggler {    
        float: right;
    }
}

